Flask==0.12
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.14.2
Jinja2==2.9.4
Mako==1.0.6
Markdown==2.6.7
MarkupSafe==0.23
SQLAlchemy==1.1.4
WTForms==2.1
Werkzeug==0.11.15
alembic==0.8.10
bleach==1.5.0
blinker==1.4
html5lib==1.0b3
itsdangerous==0.24
six==1.10.0
Flask-SSLify==0.1.5
gunicorn==19.6.0
psycopg2==2.5.1
livereload==2.5.1
ForgeryPy==0.1
Pygments==1.6
colorama==0.2.7
coverage==3.7.1
httpie==0.7.2
requests==2.1.0
selenium==2.45.0