click==6.6
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
wheel==0.24.0
Flask-Script==2.0.5
livereload==2.3.2
gunicorn==19.6.0
Flask-SSLify==0.1.5
Flask-Bootstrap==3.3.7.0
Flask-HTTPAuth==3.2.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.1
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
Flask-SQLAlchemy==2.1
Flask-WTF==0.13.1
Markdown==2.6.7
SQLAlchemy==1.1.4
WTForms==2.1
alembic==0.8.9
bleach==1.5.0
blinker==1.4
html5lib==1.0b3
six==1.10.0
psycopg2==2.6.2
