.profile-thumbail {
    position: absolute;
}

div.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

ul.posts {
    list-style-type: none;
    margin: 16px 0px 0px 0px;
    padding: 0px;
    border-top: 1px solid #e0e0e0;       /*ul顶端加一条线*/
}

/*a.btn-danger {*/
    /*margin-top: 16px;*/
/*}*/

div.post-tabs {
    margin-top: 16px;
}

ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;    /*每个li底部加一条线*/
}

div.post-content {
    margin-left: 48px;                  /*距离头像一定距离*/
    min-height: 48px;                   /*内容最小高度限制*/
}

div.post-date {
    float: right;                        /*日期最右边*/
}

div.post-author {
    font-weight: bold;                   /*作者字体加粗*/
}

div.post-title {
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
}

div.post-body {
    margin-top: 18px;
}

div.profile-thumbail {
    position: absolute;
}

div.pagination {                       /*底部分页栏*/
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 5px;
}

div.post-footer {
    text-align: right;
}

div.pagination li.active {
    color: #2e6da4;
}

div.comment-from {
    margin: 16px 32px 16px 32px;    /*4:左，2:右, 1:上 3:下*/
}

ul.comments {
    list-style-type: none;
}

ul.comments li.comment {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;    /*每个li底部加一条线*/
}

div.comment-thumbail {
    position: absolute;
}

div.comment-content {
    margin-left: 48px;
    min-height: 30px;
}

div.comment-date {
    float: right;
}

div.comment-author {
    font-weight: bold;
}

div.form-title {
    margin-left: 16px;
    margin-right: 16px;
}

div.form-body {
    margin-top: 16px;
    width: 98%;
}