{% extends 'bootstrap/base.html' %}
    {% block head %}
        {{ super() }}
        {% include 'include/_header.html' %}
    {% endblock %}

    {% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cerulean/bootstrap.min.css">
    {% endblock %}

    {% block navbar %}
       {% include 'include/_navbar.html' %}
       {# {{ nav.top.render() }} #}
    {% endblock %}


    {% block content %}
        {{ super() }}
    {% endblock %}

    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
        {{ moment.lang("zh-CN") }}
    {% endblock %}
